
@import "layout/_font";
@import "config/_variables";
@import "config/_mixins";


//media
@import "_misk/media";

//resolution 
$tablets: 768px;
$phones: 480px;
$phone: 360px;

/*Base*/
@import "layout/_base";
@import "layout/_adjustment";

/*sections*/
@import "section/_hero";
@import "section/_best";
@import "section/_burger";
@import "section/_team";
@import "section/_reviews";
@import "section/_order";
@import "section/_burger_menu";
@import "section/_fixed-menu";
@import "section/_map";
@import "section/_footer";
@import "section/_humburger__menu";
@import "section/scrollup";
@import "section/_modal-window";



.fp-tableCell {
    width: 100% !important;
    position: relative;
}