.team {
    background-image: url(../img/bg/team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.team__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding-left: rem(80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    

    @include tablets {
        width: 100%;
        padding: 0;
    }
    @include phones {
        width: 100%;
        padding: 0;
    }
}

.team__content {
    @include tablets {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    @include phones {
        width: 100%;
        padding: 0;
    }
}
.team-acco__trigger {
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: rem(16px);
    text-decoration: none;
    font-family: 'gagalinregular';
    font-size: rem(24px);
    line-height: 2.008;
    @include tablets {
        display: inline-flex;
        justify-content: center;
    }
    @include phone {
       margin-bottom: 0;
    }

    &:before {
        content: "";
        height: 0; 
        width: 0;
        border: rem(8px) solid transparent;
        border-top-color: $yellow;
        border-bottom-width: rem(0px);
        margin-right: rem(7px);

    }
}

  
.team-acco__content {
    display: flex;
    flex-direction: row;
    display: none;
    max-width: rem(350px);
   // max-height: 0;
    //overflow: hidden;
    //transition: max-height .2s ease;
    @include tablets {
        max-width: 100%;
    }
    @include phones {
        max-width: 100%;
    }
}

.team-acco__item {
    transition: height 0.6s ease-out;
    height: auto;
    margin-bottom: rem(36px);
    @include tablets {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    @include phones {
        text-align: center;
    }
    @include phones {
        margin-bottom: rem(11px);
    }
}
.team-acco__item_active {
    .team-acco__trigger {
        color: $yellow;

        &:before {
            transform: rotate(-180deg);
        }
    }
    .team-acco__content {
        display: flex;
        //height: 100px;
        //transition: max-height .2s ease;
        @include tablets {
            flex-direction: column;
            align-items: center;
        }
    }
    @include tablets {
        flex-direction: column;
        align-items: center;
    }

}


.team-acco__pic {
    height: rem(100px);
    width: rem(100px);
    min-width: rem(100px);
    min-height: rem(100px);
    border-radius: 50%;
    overflow: hidden;
    margin-right: rem(22px);
    @include tablets {
        margin-right: 0;
    }
}
.team-acco__pic-img {
    margin-left: rem(-19px);
}
.team-acco__text {
    color: #fff;
}
.team-acco__title {
    font-weight: bold;
    font-size: rem(14px);
    margin-bottom: rem(19px);
    @include phone {
        margin-bottom: 0;
    }
}


.section__title-team {
    margin-bottom: rem(90px);
    padding: 0;
    font-size: rem(71.713px);
    position: absolute;
    top: 61px;
    @include tablets {
        left: 32%;
    }
    @include phones {
        left: 18%;
        top: 5%;
    }
    @include phone {
        top: rem(0px);
        left: 20%;
        font-size: rem(60px);
    }
}

  
.team-acco {
    @include phones {
        margin-top: 88px;
    }
}

